transformers
streamlit-chat
huggingface-hub
torch==2.2.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
tqdm
streamlit-extras
hugchat
directory_structure
alive_progress
fade
python-dotenv
pathlib
openai
gradio
ipywidgets
inquirer
prettytable
jira
